<AuCard
  @shadow={{true}}
  class="au-u-box au-u-flex-grow au-u-height-full au-u-overflow-auto au-u-z-1000 annotation-location"
  {{on-click-outside @onClose exceptSelector="a,button"}}
  as |c|
>
  <c.content>
    <div class="pre-wrap relative">
      {{this.expressionContentBefore}}<HighlightedAnnotation
        @text={{this.expressionContentAt}}
        @annotation={{@annotation}}
      />{{this.expressionContentAfter}}
    </div>
    {{yield}}
  </c.content>

</AuCard>