{{#if this.linkLink}}
  <AuLinkExternal
    href={{this.linkLink}}
    newTab={{true}}
    @icon="link-external"
    @iconAlignment="right"
  >
    {{prefixed-url @annotation.link}}
  </AuLinkExternal>
{{else}}
  <span>None</span>
{{/if}}
{{yield}}