<td>
  <AuLinkExternal
    title={{this.agentLink}}
    href={{this.agentLink}}
    @icon="link-external"
    @newTab={{true}}
    @iconAlignment="right"
  >
    {{prefixed-url this.agentName}}
  </AuLinkExternal>
</td>
<td>
  <AnnotationLink @annotation={{@annotation}} />
</td>
<td>
  <AnnotationType @annotation={{@annotation}} />
</td>
<td>
  <AuButton
    @skin="link"
    {{on "click" (fn @onSelect @annotation)}}
    class="inline-block multi-line user-selectable"
    title={{this.fullValue}}
    @icon="eye"
    @iconAlignment="right"
  >
    {{this.value}}
  </AuButton>
</td>
<td>
  <ValidationThumbs @annotation={{@annotation}} />
</td>
{{yield}}