<AuCard
  @shadow={{true}}
  class="au-u-box au-u-flex-grow au-u-height-full au-u-overflow-auto au-u-z-1000 annotation-location"
  {{on-click-outside @onClose exceptSelector="a,button"}}
  as |c|
>
  <c.content class="relative">
    <AuButton
      class="close-button"
      @skin="link-secondary"
      @icon="x"
      @hideText={{true}}
      {{on "click" @onClose}}
    >Close</AuButton>
    <div class="pre-wrap relative au-u-margin-none">
      {{this.expressionContentBefore}}<HighlightedAnnotation
        @text={{this.expressionContentAt}}
        @annotation={{@annotation}}
      />{{this.expressionContentAfter}}
    </div>
    {{yield}}
  </c.content>

</AuCard>