<td>
  <AuLinkExternal
    href={{this.agentLink}}
    @icon="link-external"
    @newTab={{true}}
    @iconAlignment="right"
  >
    {{prefixed-url this.agentName}}
  </AuLinkExternal>
</td>
<td>
  <DecisionLink @expression={{@annotation.targetModel}} />
</td>
<td>
  <AuLinkExternal
    @skin="link"
    href={{this.fullValue}}
    class="inline-block multi-line user-selectable"
    title={{this.fullValue}}
  >
    {{this.value}}
  </AuLinkExternal>
</td>
<td>
  <ValidationThumbs @annotation={{@annotation}} />
</td>
{{yield}}{{yield}}