{{page-title "Expressions"}}

<AuMainContainer class="au-u-height-full" as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-u-padding">
        <AuHeading
          @skin={{3}}
          @level={{3}}
          class="au-u-margin-top-none au-u-margin-bottom-small"
        >
          Filter decisions
        </AuHeading>
        <div>
          <AuLabel for="decision-passed-by">
            Local authority
          </AuLabel>
          <PowerSelect
            id="decision-passed-by"
            @searchEnabled={{true}}
            @searchField="prefLabel"
            @search={{this.searchMunicipality}}
            @options={{@model.municipalities}}
            @selected={{this.selectedMunicipality}}
            @onChange={{this.changeSelectedMunicipality}}
            @renderInPlace={{true}}
            as |option|
          >
            {{option.prefLabel}}
          </PowerSelect>
        </div>
        <div class="au-u-margin-top-small au-u-text-right">
          <AuButton
            @icon="x"
            @skin="naked"
            {{on "click" this.resetFilter}}
          >Reset Filter</AuButton>
        </div>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer id="content" @scroll={{true}}>
      <AuHeading size="large" class="au-u-padding">Validate AI annotations</AuHeading>
      <AuDataTable
        @content={{@model.expressions}}
        @noDataMessage="No annotated decisions found"
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <th>Expression</th>
            <th>Organization</th>
            <th>Annotations</th>
            <th>Action</th>
          </c.header>
          <c.body as |expression|>
            <td class="ellipsis">
              <AuLink
                title={{expression.title}}
                @model={{expression.id}}
                @route="validate"
                @icon="pencil"
                @iconAlignment="right"
              >
                <span>{{or expression.title "<no title found>"}}</span>
              </AuLink>
            </td>
            <td>
              {{#each expression.model.realizes.passedBy as |passed_by|}}
                {{passed_by.prefLabel}}
              {{else}}
                /
              {{/each}}
            </td>
            <td>{{expression.annotationCount}}</td>
            <td>
              {{#if (await expression.model.accessLink)}}
                <AuLinkExternal
                  @icon="link-external"
                  @iconAlignment="right"
                  @newTab={{true}}
                  href={{await expression.model.accessLink}}
                >
                  View decision
                </AuLinkExternal>
              {{else}}
                <span>No decision link</span>
              {{/if}}
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
      {{outlet}}
    </AuBodyContainer>
  </main.content>
</AuMainContainer>