{{page-title "Expressions"}}

<div class="vertical-grow">
  <AuHeading size="large" class="au-u-padding">AI Validation</AuHeading>
  <AuDataTable
    @content={{@model}}
    @noDataMessage="No annotated decisions found"
    @page={{this.page}}
    @size={{this.size}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <th>Expression</th>
        <th>Organization</th>
        <th>Annotations</th>
        <th>Action</th>
      </c.header>
      <c.body as |expression|>
        <td class="ellipsis">
          <AuLinkExternal
            title={{expression.title}}
            href={{await expression.model.accessLink}}
            @icon="link-external"
            @newTab={{true}}
            @iconAlignment="right"
          >
            <span>{{expression.title}}</span>
          </AuLinkExternal>
        </td>
        <td>
          {{#each expression.model.realizes.passedBy as |passed_by|}}
            {{passed_by.prefLabel}}
          {{else}}
            /
          {{/each}}
        </td>
        <td>{{expression.annotationCount}}</td>
        <td>
          <AuLink
            @icon="pencil"
            @iconAlignment="right"
            @model={{expression.id}}
            @route="validate"
          >
            Validate
          </AuLink>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
  {{outlet}}
</div>