{{page-title "Validate AI annotations"}}

<AuMainContainer class="au-u-height-full" as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-u-padding">
        <div>
          <AuLabel for="decision-passed-by">
            Title
          </AuLabel>
          <AuInput
            id="title-search"
            value={{this.search}}
            {{on "input" (perform this.searchTitle)}}
          />
        </div>
        <div class="au-u-margin-top-small">
          <AuLabel for="decision-passed-by">
            Decision Year
          </AuLabel>
          <PowerSelect
            id="decision-year"
            @searchEnabled={{true}}
            @searchField="label"
            @options={{this.yearOptions}}
            @selected={{this.selectedYear}}
            @onChange={{this.changeYear}}
            @renderInPlace={{true}}
            as |option|
          >
            {{option.label}}
          </PowerSelect>
        </div>
        {{#if this.showImpact}}
          <div class="au-u-margin-top">
            <AuLabel for="decision-passed-by">
              Impact type
            </AuLabel>
            <AuRadioGroup
              @name="impact"
              @selected={{this.impact}}
              @onChange={{this.changeImpact}}
              as |Group|
            >
              {{#each this.impactOptions as |impact|}}
                <Group.Radio
                  @value={{impact.value}}
                >{{impact.label}}</Group.Radio>
              {{/each}}
            </AuRadioGroup>
          </div>
        {{/if}}
        {{#if this.showCs}}
          <div class="au-u-margin-top">
            <AuLabel for="decision-passed-by">
              Concept Scheme
            </AuLabel>
            <PowerSelect
              id="decision-passed-by"
              @searchEnabled={{true}}
              @searchField="prefLabel"
              @search={{this.searchConceptScheme}}
              @options={{@model.conceptSchemes}}
              @selected={{this.selectedConceptScheme}}
              @onChange={{this.changeSelectedConceptScheme}}
              @renderInPlace={{true}}
              as |option|
            >
              {{option.prefLabel}}
            </PowerSelect>
          </div>
        {{/if}}
        {{#if @model.concepts}}
          <div class="au-u-margin-top">
            <div class="au-u-flex">
              <AuLabel for="decision-passed-by">
                {{this.selectedConceptScheme.prefLabel}}
              </AuLabel>
              {{#if this.canDeselectAllConcepts}}
                <AuButton
                  @skin="link"
                  {{on "click" this.deselectAllConcepts}}
                  class="au-u-flex-shrink-0"
                >
                  Deselect all
                </AuButton>
              {{/if}}
              {{#if this.canSelectAllConcepts}}
                <AuButton
                  @skin="link"
                  {{on "click" this.selectAllConcepts}}
                  class="au-u-flex-shrink-0"
                >
                  Select all
                </AuButton>
              {{/if}}
            </div>
            <ul>
              {{#each @model.concepts as |concept|}}
                <li class="au-u-padding-tiny au-u-padding-top-none">
                  <div class="au-u-flex">
                    <AuCheckbox
                      @name={{concept.prefLabel}}
                      @value={{concept.id}}
                      @checked={{this.isSelected
                        @model.selectedConcepts
                        concept
                      }}
                      @onChange={{fn this.toggleConcept concept}}
                    >{{if
                        concept.notation
                        (concat concept.notation ": ")
                        ""
                      }}{{concept.prefLabel}}</AuCheckbox>
                  </div>

                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        <div class="au-u-margin-top-small au-u-text-right">
          <AuButton
            @icon="x"
            @skin="naked"
            {{on "click" this.resetFilters}}
          >Reset Filters</AuButton>
        </div>
      </div>
      {{outlet}}
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer id="content" @scroll={{true}}>
      <div class="au-u-flex au-u-height-full">
        <div class="au-u-flex-grow au-u-height-full">

          <div class="vertical-grow">
            <div
              class="au-u-padding au-u-flex au-u-flex--vertical-center au-u-flex--between"
            >
              <AuHeading @level={{1}} @skin={{1}}>Validate AI Annotations</AuHeading>
              <AuToggleSwitch
                @checked={{this.hideVoted}}
                @onChange={{this.toggleHideVoted}}
              >Hide already reviewed entities</AuToggleSwitch>
            </div>
            <AuDataTable
              @content={{@model.annotations}}
              @noDataMessage="No annotated decisions found"
              @page={{this.page}}
              @size={{this.size}}
              as |t|
            >
              <t.content as |c|>
                <c.header>
                  <th>AI model</th>
                  <th>Decision name</th>
                  <th>{{or
                      this.selectedConceptScheme.prefLabel
                      "Discovered entity"
                    }}</th>
                  <th>Is this correct?</th>
                </c.header>
                <c.body as |annotation|>
                  <ExpressionAnnotationListItem @annotation={{annotation}} />
                </c.body>
              </t.content>
            </AuDataTable>
            {{outlet}}
          </div>
        </div>
        {{#if this.selectedAnnotation}}
          <AnnotationLocation
            @expression={{@model.expression}}
            @annotation={{this.selectedAnnotation}}
            @location={{await this.selectedAnnotation.hasTarget.selector}}
            @onClose={{fn this.selectAnnotation null}}
          />
        {{/if}}
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>